.login{
    width: 100%;
    min-width: 22.5rem;
    height: calc(100vh - 10vh);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;
}

.login__title{
    font-size: 2rem;
    font-weight: 800;
    text-transform: uppercase;
}

.login__form{
    width: 100%;
    max-width: 30rem;
    padding: 2rem;
    border-radius: .4rem;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    background-color: var(--color-secondary);
    box-shadow: 8px 8px 16px 0px rgba(0, 0, 0, 0.5);

}

.login__input{
    padding: 1rem;
    border-radius: 5px;
    border: none;
    outline: none;
    background-color: var(--color-tertiary);
    color: var(--color-text);
}
.login__input::selection{
    background-color: var(--color-accent);
    color: var(--color-text);
}
.login__input--password{
    width: 100%;
}
.login__password--container{
    width: 100%;
    display: flex;
    gap: 1rem;
    align-items: center;
    
}
.login__password--icon{
    width: 2rem;
    height: 2rem;
    cursor: pointer;
}

.login__button{
    padding: 1rem;
    border-radius: 5px;
    border: none;
    outline: none;
    background-color: var(--color-background);
    color: var(--color-text);
    cursor: pointer;
}

.login__button:hover{
    background-color: var(--color-accent);
}

.login__error{
    /* background-color: var(--color-tertiary); */
    color: red;
    padding-left: .4rem;
    margin-top: -1rem;
}
.error-api{
    padding:0.2rem 1rem;
    margin-top: 0rem;
}
.active{
    display: block;
}

.inactive{
    display: none;
}

.button{
    color: var(--color-accent);
    cursor: pointer;
}